@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TT-Alientz-Serif";
    src: url("/src/Fonts/TT-Alientz-Serif.otf");
}
@font-face {
    font-family: "TT-Alientz-Var";
    src: url("/src/Fonts/TT-Alientz-Var.ttf");
}

@layer components{


    .search{
        @apply
        text-center
        text-black
        dark:text-white
        border-black border-2 rounded-xl focus:border-r-4 focus:border-b-4 transition-all
        outline-none
        font-bold text-2xl
        bg-transparent
        cursor-help
         px-4 py-2
        focus:shadow-md focus:shadow-cyan-300
        hover:bg-cyan-100
        dark:hover:bg-cyan-700
        m-2

    }
    .button{
        @apply
        text-center cursor-pointer
        border-4 rounded-xl hover:border-r-8 hover:border-b-8 transition-all
        h-fit w-fit px-4 py-2
        font-bold text-2xl
        border-black 
        text-black
        dark:text-white
        select-none
        m-2
        
    }
    .darkModeButton{

        @apply
        -m-4 hover:m-0 rounded-full w-16 h-16 transition-all 
        hover:bg-zinc-900 hover:scale-150
        dark:hover:bg-zinc-100
        fixed top-0 right-0
        dark:bg-amber-400
        bg-zinc-600
        shadow-lg dark:shadow-amber-400 shadow-zinc-900
        rotate-45

        /*
         import { ref } from "@vue/reactivity"
        const counter = ref(1)
        const toggleDark=()=>{
            counter.value++
            if ( counter.value%2==0)
            document.querySelector("html").setAttribute("class","dark")
            else
            document.querySelector("html").setAttribute("class","")
        } 
        */
    }
}